<% if(locals.errors) { %>
  <ul class="text-center font-medium border-y-2 border-white rounded-xl w-fit mx-auto px-5 py-3 space-y-1 ">
    <% errors.forEach((error) => { %>
    <li><%= error.msg %></li>
    <% }); %>
  </ul>
<% } %>