<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mini Message Board</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="min-h-dvh text-white">
    <%- include("header"); %>
    <div
      class="container mx-auto mt-32 flex w-fit select-none flex-col items-center justify-center rounded-3xl border-2 border-white p-10 font-mono shadow-lg shadow-white drop-shadow-[0_0px_8px_rgb(255,255,255)]"
    >
      <h1 class="mb-5 text-9xl">404</h1>
      <p class="text-center">There was an error, Please try again later T_T</p>
    </div>
  </body>
</html>
