<header class="">
  <div
    class="container mx-auto flex items-center justify-between py-10 drop-shadow-[0_0px_8px_rgb(255,255,255)]"
  >
    <a
      href="/"
      class="font-script text-4xl font-bold transition-all duration-200 hover:scale-110"
      >Mini Messaging App</a
    >
    <a
      href="/new"
      class="rounded-xl border-2 border-white px-4 py-2 font-mono text-base font-bold transition-all duration-200 hover:scale-110 hover:shadow-md hover:shadow-white"
      >New Message</a
    >
  </div>
</header>
